@* -----------------------------------------------------------------------
   <copyright file="Home.razor" company="GMM">
       Copyright (c) GMM. All rights reserved.
   </copyright>
   ----------------------------------------------------------------------- *@
@page "/"

<PageTitle>Cascade Chat</PageTitle>

<h1>Welcome to Cascade Chat</h1>

<p>
    Cascade Chat is a real-time messaging application built with the Mississippi event-sourcing framework.
</p>

<p>
    <a href="login" class="btn btn-primary">Get Started</a>
</p>