@* TelemetryStrip - read-only status display *@

<div class="rf-telemetry-strip"
     role="@RefractionAriaRoles.Status"
     data-state="@State"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>