@page "/"

<main>
    <h1>Bank Account Demo</h1>
    <p>Select a task to explore the sample.</p>
    <nav>
        <ul>
            <li>
                <NavLink href="/accounts">Accounts</NavLink>
            </li>
            <li>
                <NavLink href="/operations">Operations</NavLink>
            </li>
            <li>
                <NavLink href="/investigations">Investigations</NavLink>
            </li>
            <li>
                <NavLink href="/typography">Typography</NavLink>
            </li>
        </ul>
    </nav>
</main>