@* Avatar.razor - Atom component for displaying user avatars *@

@{
    string userName = UserName ?? string.Empty;
}

<div class="avatar" title="@userName">
    @(userName.Length == 0 ? "?" : userName[0].ToString().ToUpperInvariant())
</div>