@* Avatar - Atomic component for displaying user avatars with optional online status *@

<div class="avatar @SizeClass" @attributes="AdditionalAttributes">
    <div class="avatar__image" role="img" aria-label="@AltText">
        @Initials
    </div>
    @if (ShowStatus)
    {
        <span class="avatar__status @StatusClass" aria-label="@StatusLabel"></span>
    }
</div>