@* CalloutLine - label anchoring element *@

<div class="rf-callout-line" data-state="@State" @attributes="AdditionalAttributes">
    <span class="rf-callout-line__anchor"></span>
    <span class="rf-callout-line__line"></span>
    @if (!string.IsNullOrEmpty(Label))
    {
        <span class="rf-callout-line__label">@Label</span>
    }
</div>