@* SchematicViewer - primary representation for complex objects *@

<figure class="rf-schematic-viewer"
        data-state="@State"
        @attributes="AdditionalAttributes">
    <div class="rf-schematic-viewer__viewport">
        @ChildContent
    </div>
    @if (!string.IsNullOrEmpty(Caption))
    {
        <figcaption class="rf-schematic-viewer__caption">@Caption</figcaption>
    }
</figure>