@inherits Mississippi.Ripples.Blazor.RippleComponent
@using Mississippi.Ripples.Blazor.L0Tests

<div>Multi-ripple component</div>

@code {
    [Parameter]
    public IRipple<TestProjection>? Ripple1 { get; set; }

    [Parameter]
    public IRipple<TestProjection>? Ripple2 { get; set; }

    protected override void OnInitialized()
    {
        if (Ripple1 != null)
        {
            UseRipple(Ripple1);
        }
        if (Ripple2 != null)
        {
            UseRipple(Ripple2);
        }
    }
}
