@inherits Mississippi.Ripples.Blazor.RippleComponent
@using Mississippi.Ripples.Blazor.L0Tests

<div>@(Ripple?.Current?.Name ?? "Loading"): @(Ripple?.Current?.Value ?? 0)</div>

@code {
    [Parameter]
    public IRipple<TestProjection>? Ripple { get; set; }

    public int RenderCount { get; private set; }

    protected override void OnInitialized()
    {
        if (Ripple != null)
        {
            UseRipple(Ripple);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        RenderCount++;
    }
}
