@using Cascade.Server.Components.Atoms
@using Cascade.Server.Components.ViewModels
@* MemberList.razor - Organism component for displaying channel members *@

<div class="member-list">
    <h4>Members (@(Members?.Count ?? 0))</h4>

    @if (Members is null || (Members.Count == 0))
    {
        <p class="empty">No members</p>
    }
    else
    {
        <ul>
            @foreach (MemberViewModel member in Members.OrderByDescending(m => m.IsOnline).ThenBy(m => m.DisplayName))
            {
                <li class="member-item">
                    <OnlineIndicator IsOnline="@member.IsOnline"/>
                    <span class="member-name">@member.DisplayName</span>
                </li>
            }
        </ul>
    }
</div>