@* StatusSummaryBar - read-only operational summary *@

<div class="@RootCssClass"
     role="@RefractionAriaRoles.Status"
     data-state="@State"
    @attributes="UnmatchedAttributes">
    @ChildContent
</div>