@* TelemetryStrip - read-only status display *@

<div class="@RootCssClass"
     role="@RefractionAriaRoles.Status"
     data-state="@State"
    @attributes="UnmatchedAttributes">
    @ChildContent
</div>