name: "Tests"
on:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    branches:
      - main
      - feature/**
      - topic/**

concurrency:
  group: ${{ github.workflow }}-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  CONFIGURATION: Release

jobs:
  Build:
    name: "Unit Tests"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        solution: [ mississippi.slnx, samples.slnx ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Cache GitVersion tools
        uses: actions/cache@v4
        with:
          path: ~/.gitversion
          key: ${{ runner.os }}-gitversion
          restore-keys: ${{ runner.os }}-gitversion

      - name: Cache nugets
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.2.1
        with:
          versionSpec: "6.0.5"

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v3.2.1
        with:
          useConfigFile: true

      - name: Restore dotnet packages
        run: |
          dotnet restore ${{ github.workspace }}/${{ matrix.solution }}

      - name: Build and test dotnet projects
        run: |
          mkdir -p "${{ github.workspace }}/.scratchpad/coverage-test-results"
          dotnet build ${{ github.workspace }}/${{ matrix.solution }} --configuration ${{ env.CONFIGURATION }} --no-restore --no-incremental -p:Version=${{ steps.gitversion.outputs.SemVer }}
          dotnet test ${{ github.workspace }}/${{ matrix.solution }} --logger "trx;LogFileName=test_results.trx" --results-directory ${{ github.workspace }}/.scratchpad/coverage-test-results -- RunConfiguration.ReporterSwitch=allure

      - name: Install Allure
        run: |
          wget https://github.com/allure-framework/allure2/releases/download/2.30.0/allure-2.30.0.tgz
          tar -zxvf allure-2.30.0.tgz
          sudo mv allure-2.30.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure Report
        run: |
          allure generate ${{ github.workspace }}/.scratchpad/coverage-test-results -o ${{ github.workspace }}/allure-report

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-test-results-${{ matrix.solution }}-${{ matrix.os }}-${{ github.event.repository.name }}-v${{ steps.gitversion.outputs.SemVer }}
          path: ${{ github.workspace }}/allure-report
